{% extends "members/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	
	<p><h4 style="font-size: 24px; color: purple;"> Employee Data Entry</h4><p>

	<form action="" method="post" autocomplete="off">
		{% csrf_token %}
		<!-- {{ form|crispy }} for all fields in the table -->

		<div class="row">
			<div class="col-md-6">
				{{ form.firstname|as_crispy_field }}
			</div>
			<div class="col-md-5">
				{{ form.lastname|as_crispy_field }}
			</div>
			<div class="col-md-1">
				{{ form.middleI|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				{{ form.division|as_crispy_field }}
			</div>
			<div class="col-md-4">
				{{ form.empStatus|as_crispy_field }}
			</div>
			<div class="col-md-4">
				{{ form.position|as_crispy_field }}
			</div>
			
		</div>

		
		<div class="row">
			<div class="col-md-8">
				<button type="submit" class="btn btn-success"><i class="fas fa-database"></i> Submit</button>
			</div>
			<div class="col-md-4">
				<a href="{% url 'employee_list' %}" class="btn btn-secondary float-right">
					<i class="fas fa-stream"></i> Back to List
				</a>
		</div>

	</form>

{% endblock %}