{% extends "mr/base.html" %}

{% load userfilter_extras %}

{% block content %}
<p><h4 style="font-size: 24px; color: purple;"> Equipment Maintenance Record/s</h4></p><hr />

<div class="row">
	<div class="col-md-10">
		Property No.: <h5 class="text-success">{{ serviceprop.property_no }}</h5>
	</div>
	<div class="col-md-2">
		<a href="{% url 'issued_property' %}" class="btn btn-secondary float-right">
			<i class="fas fa-stream"></i> Back to List
		</a>
	</div>
</div>

<div class="row">
	<div class="row">
		&nbsp; &nbsp; &nbsp;Serial No.: &nbsp;<h5 class="text-warning">{{ serviceprop.serial_no }}</h5>
		&nbsp; &nbsp; &nbsp;Description: &nbsp;<h5 class="text-warning">{{ serviceprop.decription }}</h5>
	</div>
</div>
<p />


<!-- <p>Property No.: <h5>{{ serviceprop.prop.property_no }}</h5> Serial No.: <h5>{{ serviceprop.prop.serial_no }}</h5></p>
<p>Description: <h5>{{ serviceprop.prop.decription }}</h5></p> -->

<table class="table table-sm table-hover">
	<!-- <table class="table table-sm table-bordered table-hover"> -->
		<thead class="border-bottom font-weight-bold bg-secondary">
			<tr>
				
				<td class="align-middle">Date</td>
				<td class="align-middle">Issues</td>
				<td class="align-middle">Service Rendered</td>
				<td class="align-middle">Action Officer</td>
				<td class="align-middle">Remarks</td>
				<!-- add new button -->
			</tr>
		</thead>
		<tbody>
			
				<tr>
				{% for serv in serviceprop.propservice.all%}	
					<td>{{ serv.date}}</td>
					<td>{{ serv.issues }}</td>
					<td>{{ serv.service_rendered }}</td>
					<td>{{ serv.action_officer}}</td>
					<td>{{ serv.remarks}}</td>
				
					<!-- admin module -->
					
				</tr>
				{% endfor %}

		</tbody>
	</table>
	<p> <hr />
		<div class="row">
			<div class="col-md-2 float-left">
				<a href="{% url 'create_pdf_service' serviceprop.id %}" class="btn btn-outline-success" target="__blank">
					<i class="fas fa-stream"></i> Print PDF 
				</a>
			</div>
			<div class="col-md-10 float-right">
				<a href="{% url 'issued_property' %}" class="btn btn-secondary float-right">
					<i class="fas fa-stream"></i> Back to List
				</a>
			</div>
		</div>
	</p>

{% endblock content %}